*{
	box-sizing: border-box;
	padding:0px;
	margin: 0;
	font-family: "Arial"
}

body{
	background-color:white;
}

header{
	
	color:white;
	text-align: center;
	width:100%;
	height:25vh;
	background-color: blue;
}

#header{
	width: 100%;
	height: 100%;
	vertical-align: middle;
	padding: 5vh;
	font-size: 5em;
}

#content{
	width: 100%;
	background-color: black;
	opacity: .8;
	height: 50vh;
	min-height: 200px;
	margin: 1% 0%;
	padding: 5%;
}

footer{
	height: 21vh;
	width: 100%;
	background-color: purple;
	margin: 0%; 
	padding: 5%;
	clear:both;
	text-align: center;
}


#yes, #no, #try{
	height: 30vh;
	width: 30vh;
	border-color: white;
	border-radius:30vh;
	color:black; 
	margin: 0 15vh;
	font-size: 3em;
}

#yes{
	background-color: white;
}

#no{
	background-color: white;
}

#try{
	background-color: white;
	color:black;
}

#try:hover{
	border-color: blue;
	border-width: thick;
	background-color: blue;
}

#try:focus{
	background-color: hotpink;
	color:white;
}